.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/background_header.svg);
  position: relative;
  color: #ffffff;
  box-sizing: border-box;
  z-index: 1;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 142px;
  width: 125px;
  margin-bottom: 0;
}
