.recipes {
  background-image: url(/images/background_recipes.svg);
  margin: 0;
  min-height: 720px;
  max-height: 800px;
  background-color: #0a2750;
  padding: 100px 80px 80px;
}
.recipes__title {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 500px;
}
.recipes__subtitle {
  padding-bottom: 80px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  gap: 40px;
  border: 0;
}
.recipes__video-caption {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}

video {
  width: 100%;
}
