.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/images/background_header.svg);
  position: relative;
  color: #ffffff;
  box-sizing: border-box;
  z-index: 1;
}
.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  min-width: 1100px;
  max-width: 1600px;
  padding: 30px 80px 0;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 142px;
  width: 125px;
  margin-bottom: 0;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  list-style: none;
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.nav__link:hover {
  color: #1f69c9;
}
.header__title {
  position: absolute;
  top: 325px;
  z-index: 3;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  font-weight: 500;
  color: #000;
  margin: 0;
}
.header__title_span-accent {
  position: absolute;
  top: 252px;
  left: 80px;
  font-family: Noto Serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
  z-index: 2;
}
.header__description {
  position: absolute;
  top: 400px;
  left: 80px;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.header__image {
  z-index: 0;
  max-width: 636px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  width: 500px;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__footer-address {
  position: absolute;
  margin: 0;
  right: 80px;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  color: #6f6f6f;
  line-height: 20px;
  list-style: none;
}
.recipes {
  background-image: url(/images/background_recipes.svg);
  margin: 0;
  min-height: 720px;
  max-height: 800px;
  background-color: #0a2750;
  padding: 100px 80px 80px;
}
.recipes__title {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 500px;
}
.recipes__subtitle {
  padding-bottom: 80px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}
.recipes__videos {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
  gap: 40px;
}

.recipes__iframe {
  gap: 40px;
  border: 0;
}
.recipes__video-caption {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}

video {
  width: 100%;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/background_reservation.svg);
  background-position: center;
  background-color: #d9e7ff;
  min-height: 972px;
  background-size: cover;
}
.form {
  align-items: center;
}
.reservation__form {
}
.reservation__title {
  font-size: 44px;
  line-height: 52px;
  color: #000;
  margin-top: 100px;
  margin-bottom: 80px;
}
.form__fieldset {
  border: none;
  padding: 0;
  width: 383px;
  margin-bottom: 32px;
}
.form__label {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  margin-bottom: 8px;
}
.form__input {
  font-size: 20px;
  line-height: 60px;
  border: 0;
  color: #038383;
  padding-left: 20px;
  margin-bottom: 32px;
}
.form__input[type="text"],
.form__input[type="email"],
.form__input[type="datetime-local"],
.form__input[type="number"],
.form__input_type_select {
  border-radius: 4px;
  border-color: #038383;
  width: 383px;
  min-height: 30px;
  color: #038383;
}

.form__button {
  width: 383px;
  height: 60px;
  background-color: #2f80ed;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  bottom: 32px;
}
.form__button:hover {
  opacity: 70%;
  transition: 500ms ease-in-out;
}
.form__button [type="submit"] {
  width: 383px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
}
.form__input [type="checkbox"] {
  margin-left: 20px;
}
.form__label_checkbox {
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-right: 20px;
}
